<form action="/add-feed" method="post">
	<h4>Neuen Feed hinzufügen</h4>
	<input type="text" name="name" placeholder="Feed-Name" required="required" />
	<input type="url" name="url" placeholder="Feed-URL" required="required" />
	<i>Example: http://rss1.smashingmagazine.com/feed/</i>
	<input type="submit" class="button large radius" value="Hinzufügen" />
</form>