<form action="/add-feed" method="post">
	<h4>Neuen Feed hinzufügen</h4>
	<input type="text" name="name" placeholder="Feed-Name" required="required" />
	<input type="url" name="url" placeholder="Feed-URL" required="required" value="http://rss1.smashingmagazine.com/feed/" />
	<i>Example: http://rss1.smashingmagazine.com/feed/</i>
	<div id="colorpicker" class="colorpicker">
		<label>Farbe</label>
		<span data-color="ff0000">Rot</span>
		<span data-color="00ff00">Grün</span>
		<span data-color="0000ff">Blau</span>
		<input type="hidden" id="color" name="color" value="333333" />
	</div>
	<input type="submit" class="button large radius" value="Hinzufügen" />
</form>