<div class="delete-feed-container">
	<h4>Feed löschen?</h4>
	<p>Möchten Sie den Feed <span id="deleteFeed">Name</span> wirklich für immer und ewig  bis in alle Zeiten löschen?</p>
	<div class="button-list">
		<input type="button" class="button large radius" value="OK" />
		<input type="button" class="button large radius close-reveal-modal" value="Abbrechen" />
	</div>
</div>
