<div id="featured">
	<ul>
		<li style="display:block">
			<figure class="article_image">
				<img src="http://lorempixel.com/400/200" />
				<figcaption>Abbildung 1</figcaption>
			</figure>
		</li>
		<li style="display:none">
			<figure class="article_image">
				<img src="http://lorempixel.com/400/200" />
				<figcaption>Abbildung 1</figcaption>
			</figure>
		</li>
		<li style="display:none">
			<figure class="article_image">
				<img src="http://lorempixel.com/400/200" />
				<figcaption>Abbildung 1</figcaption>
			</figure>
		</li>
	</ul>
</div>

<!-- <a href="#" class="slider prev" onclick='featured.prev();return false'>></a>
<a href="#" class="slider next" onclick='featured.next();return false'><</a> -->