<div class="modal login">
	<form action="/login" method="post">
		<h4>Einloggen</h4>
		<input type="email" name="username" placeholder="E-Mail"  required="required"/>
		<input type="password" name="password" placeholder="Passwort"  required="required"/>
		<input class="button large radius" type="submit" value="Login" />
	</form>	
	<a class="close-reveal-modal symbol">×</a>
</div>
