<div class="modal login">
	<form class="modal ">
		<h4>Einloggen</h4>
		<input type="email" id="user_mail" placeholder="E-Mail" />
		<input type="password" id="user_password" placeholder="Passwort" />
		<input class="button large radius" type="submit" id="submit_login" value="Login" />
	</form>	
	<a class="close-reveal-modal symbol">×</a>
</div>
