<li style="display:block">
	<form>
		<input type="email" id="user_mail" placeholder="E-Mail" />
		<input type="password" id="user_password" placeholder="Passwort" />
		<input class="button large radius" type="submit" id="submit_login" value="Login" />
	</form>	
</li>