<ul id="tabSelector" class="base-tabs">
	<li class="on">Login</li>
	<li>Registrieren</li>
</ul>

<div id="tabs">
	<ul>
		<!-- Login -->
		<li style="display: block">
			<%- partial('login') %>
		</li>
	  	<!-- Register -->
		<li style="display: none">
		  	<%- partial('register') %>
		</li>  	
	</ul>
</div>