<div class="modal register">
	<form>
		<h4>Registrieren</h4>
		<input type="email" id="register_mail" placeholder="E-Mail"  required="required"/>
		<input type="password" id="register_password" placeholder="Passwort"  required="required"/>
		<input type="password" id="confirm_password" placeholder="Passwort wiederholen"  required="required"/>
		<input type="submit" id="submit_register" value="Registrieren" class="button large radius" />
	</form>
</div>

<a href="#" data-reveal-id="modalLogin">Bereits angemeldet?</a>