<div class="four columns feedNavigation hide-for-small">
	<div class="hide-for-portrait">
		<ul class="side-nav">
			<li class="nav-title">Kategorie</li>
	    	<li class="nav-item"><a href="#">Politik</a></li>
	    	<li class="nav-item"><a href="#">Sub Nav 3</a></li>
			<li class="nav-title">Meine Feeds</li>
	    	<li class="nav-item"><a href="#">Politik</a></li>
	    	<li class="nav-item"><a href="#">Sub Nav 3</a></li>
		</ul>
	</div>
</div>