<div class="four columns feedNavigation hide-for-small">
	<div class="hide-for-portrait">
		<ul class="side-nav">
			<li class="nav-title">Meine Feeds</li>
			<% for (var i = 0; i < feeds.length; ++i) { %>
			<li class="nav-item"><a href="/feeds/<%= feeds[i]._id %>"><%= feeds[i].name %></a></li>
			<% } %>
		</ul>
	</div>
</div>