<div class="hide-for-small">
	<ul class="side-nav">
		<li class="nav-title"><a href="#">Kategorie</a></li>
    	<li><a href="#">Politik</a></li>
    	<li><a href="#">Sub Nav 3</a></li>
		<li class="nav-title"><a href="#">Meine Feeds</a></li>
    	<li><a href="#">Politik</a></li>
    	<li><a href="#">Sub Nav 3</a></li>
	</ul>
</div>