<nav class="row page-navigation hide-for-touch">
	<div class="two mobile-one columns previous">
		<a href="" class="button-prev">&lt;</a>
	</div>
	<span class="eight mobile-two columns title"><%= pageTitle %></span>
	<div class="two mobile-one columns next">
		<a href="" class="button-next">&gt;</a>
	</div>
</nav>