<nav class="row page-navigation hide-for-touch">
	<div class="two columns previous">
		<a href="">&lt;</a>
	</div>
	<span class="eight columns title">Meine Feeds</span>
	<div class="two columns next">
		<a href="">&gt;</a>
	</div>
</nav>