<form>
	<input type="text" id="feed_name" placeholder="Feed Name" />
	<select class="selection">
		<option value="cat_sport">Sport</option>
		<option value="cat_politics">Politik</option>
		<option value="cat_quark">Quark</option>
	</select>
	<input type="text" id="feed_url" placeholder="RSS URL" />
	<input type="submit" id="submit_add" class="button large radius" value="Feed hinzufügen" />
</form>
<a class="close-reveal-modal">×</a>
