<div class="modal add-feed">
	<form >
		<h4>Neuen Feed hinzufügen</h4>
		<input type="text" id="feed_name" placeholder="Feed Name" required="required" />
		<select class="selection">
			<option value="cat_sport">Sport</option>
			<option value="cat_politics">Politik</option>
			<option value="cat_quark">Quark</option>
		</select>
		<input type="url" id="feed_url" placeholder="RSS URL" required="required" />
		<input type="submit" id="submit_add" class="button large radius" value="hinzufügen" />
	</form>
	<a class="close-reveal-modal symbol">×</a>
</div>
