<ul id='tabSelector' class='base-tabs'>
	<li class='on'>Kategorien</li>
	<li>Meine Feeds</li>
	<li>Favoriten</li>
</ul>

<div id="tabs">
	<ul>
		<!-- Page 1 -->
		<li style="display:block">
			<ul class="block-grid three-up">
				<% for (var i=0; i<6; i++) { %>
				<li>
					<figure>
						<img src="http://lorempixel.com/128/128" />
						<span class="notification"></span>
						<figcaption>Bildunterschrift</figcaption>
					</figure>
				</li>
				<% } %>
			</ul>
		</li>
		<li style="display:none">
			<ul class="block-grid three-up">
				<% for (var j=0; j<4; j++) { %>
				<li>
					<figure>
						<img src="http://lorempixel.com/128/128" />
						<span class="notification"></span>
						<figcaption>Bildunterschrift</figcaption>
					</figure>
				</li>
				<% } %>
			</ul>
		</li>
		<li style="display:none">
			<ul class="block-grid three-up">
				<% for (var k=0; k<8; k++) { %>
				<li>
					<figure>
						<img src="http://lorempixel.com/128/128" />
						<span class="notification"></span>
						<figcaption>Bildunterschrift</figcaption>
					</figure>
				</li>
				<% } %>
			</ul>
		</li>

	</ul>
</div>