<ul id='tabSelector' class='base-tabs'>
	<li class='on'>Kategorien</li>
	<li>Meine Feeds</li>
	<li>Favoriten</li>
</ul>

<div id="tabs">
	<ul>
		<!-- Page 1 -->
		<li style="display:block">
			<div id="feed_overview clearfix">	
				<figure class="feed clearfix">
					<img src="http://lorempixel.com/100/100" />
					<span class="notification"></span>
					<figcaption>Bildunterschrift</figcaption>
				</figure>				
				<figure class="feed">
					<img src="http://lorempixel.com/200/200" />
					<span class="notification"></span>
					<figcaption>Bildunterschrift</figcaption>
				</figure>				
				<figure class="feed">
					<img src="http://lorempixel.com/300/100" />
					<span class="notification"></span>
					<figcaption>Bildunterschrift</figcaption>
				</figure>				
				<figure class="feed">
					<img src="http://lorempixel.com/350/400" />
					<span class="notification"></span>
					<figcaption>Bildunterschrift</figcaption>
				</figure>				
				<figure class="feed">
					<img src="http://lorempixel.com/400/200" />
					<span class="notification"></span>
					<figcaption>Bildunterschrift</figcaption>
				</figure>	
			</div>
		</li>
		<!-- Page2 -->
		<li style="display:none">
			<div id="feed_overview clearfix">	
				<figure class="feed clearfix">
					<img src="http://lorempixel.com/100/100" />
					<span class="notification"></span>
					<figcaption>Bildunterschrift</figcaption>
				</figure>				
				<figure class="feed">
					<img src="http://lorempixel.com/200/200" />
					<span class="notification"></span>
					<figcaption>Bildunterschrift</figcaption>
				</figure>				
				<figure class="feed">
					<img src="http://lorempixel.com/300/100" />
					<span class="notification"></span>
					<figcaption>Bildunterschrift</figcaption>
				</figure>				
				<figure class="feed">
					<img src="http://lorempixel.com/350/400" />
					<span class="notification"></span>
					<figcaption>Bildunterschrift</figcaption>
				</figure>				
				<figure class="feed">
					<img src="http://lorempixel.com/400/200" />
					<span class="notification"></span>
					<figcaption>Bildunterschrift</figcaption>
				</figure>	
				<figure class="feed clearfix">
					<img src="http://lorempixel.com/100/100" />
					<span class="notification"></span>
					<figcaption>Bildunterschrift</figcaption>
				</figure>				
				<figure class="feed clearfix">
					<img src="http://lorempixel.com/90/100" />
					<span class="notification"></span>
					<figcaption>Bildunterschrift</figcaption>
				</figure>				
				<figure class="feed clearfix">
					<img src="http://lorempixel.com/120/100" />
					<span class="notification"></span>
					<figcaption>Bildunterschrift</figcaption>
				</figure>				
				<figure class="feed clearfix">
					<img src="http://lorempixel.com/130/100" />
					<span class="notification"></span>
					<figcaption>Bildunterschrift</figcaption>
				</figure>				
			</div>
		</li>
		<!-- Page 3 -->
		<li style="display:none">
			<div id="feed_overview clearfix">	
				<figure class="feed clearfix">
					<img src="http://lorempixel.com/100/100" />
					<span class="notification"></span>
					<figcaption>Bildunterschrift</figcaption>
				</figure>				
				<figure class="feed">
					<img src="http://lorempixel.com/200/200" />
					<span class="notification"></span>
					<figcaption>Bildunterschrift</figcaption>
				</figure>				
				<figure class="feed">
					<img src="http://lorempixel.com/300/100" />
					<span class="notification"></span>
					<figcaption>Bildunterschrift</figcaption>
				</figure>				
				<figure class="feed">
					<img src="http://lorempixel.com/350/400" />
					<span class="notification"></span>
					<figcaption>Bildunterschrift</figcaption>
				</figure>				
				<figure class="feed">
					<img src="http://lorempixel.com/400/200" />
					<span class="notification"></span>
					<figcaption>Bildunterschrift</figcaption>
				</figure>	
			</div>
		</li>
	</ul>
</div>

