<div class="twelve columns">
	<div class="row">
		<header>
			<h1>inForm</h1>
		</header>
		<dl class="nice contained tabs">
				<dd><a href="#nice1" class="active">Smashing Magazin</a></dd>
			 <dd><a href="#nice2">t3n</a></dd>
			 <dd><a href="#nice3">kicker</a></dd>
		</dl>

		<ul class="nice tabs-content contained">
		  <li class="active" id="nice1Tab">
		  	<div class="row">
				<div class="twelve columns">
					<ul>
						<li class="artikel clearfix"><a href="">
							<div class="pre_image"> </div>
							<article>
								<a href="artikel.html"><h4>Getting To Know The Android Platform: Building, Testing And Distributing Apps</h4>
								<p>Every aspiring web developer should know about the power of JavaScript and how it can be used effectively to enhance the ways in which see and interact with web pages.</p></a>
							</article>
						</a></li>
						<li class="artikel clearfix">
							<div class="pre_image"> </div>
							<article>
								<a href="artikel.html"><h4>Getting To Know The Android Platform: Building, Testing And Distributing Apps</h4>
								<p>Every aspiring web developer should know about the power of JavaScript and how it can be used effectively to enhance the ways in which see and interact with web pages.</p></a>
							</article>
						</li>
						<li class="artikel clearfix">
							<div class="pre_image"> </div>
							<article>
								<a href="#"><h4>Getting To Know The Android Platform: Building, Testing And Distributing Apps</h4>
								<p>Every aspiring web developer should know about the power of JavaScript and how it can be used effectively to enhance the ways in which see and interact with web pages.</p></a>
							</article>
						</li>
					</ul>								
							
				</div>
			</div>
			
							  
		  </li>
		  <li id="nice2Tab">This is nice tab 2's content. Now you see it!</li>
		  <li id="nice3Tab">This is nice tab 3's content. It's, you know...okay.</li>
		</ul>
	</div>
</div>