<!-- Seitennavigation -->
<div class="four columns feedNavigation">
	<%- partial('partials/sidebar') %>
</div>
<!-- Seiteninhalt -->
<div class="eight columns">
	<div id="articleSwipe">
		<div>
		<article class="fixie" style="display:block">
			<h6 class="feed_info"><img src="http://media.smashingmagazine.com/themes/smashingv4/images/appletouchicon.png" />Smashing Magazing | 15 Stunden</h6>
			<h2></h2>
			<p class="teaser"></p>
			<figure class="article_image">
				<img src="http://lorempixel.com/800/800" />
				<figcaption>Abbildung 1</figcaption>
			</figure>
			<p></p>	
		</article>

		<article class="fixie" style="display:none">
			<h6 class="feed_info"><img src="http://media.smashingmagazine.com/themes/smashingv4/images/appletouchicon.png" />Smashing Magazing | 15 Stunden</h6>
			<h2></h2>
			<p class="teaser"></p>
			<figure class="article_image">
				<img src="http://lorempixel.com/400/399" />
				<figcaption>Abbildung 1</figcaption>
			</figure>
			<p></p>	
		</article>

		<article class="fixie" style="display:none">
			<h6 class="feed_info"><img src="http://media.smashingmagazine.com/themes/smashingv4/images/appletouchicon.png" />Smashing Magazing | 15 Stunden</h6>
			<h2></h2>
			<p class="teaser"></p>
			<figure class="article_image">
				<img src="http://lorempixel.com/399/400" />
				<figcaption>Abbildung 1</figcaption>
			</figure>
			<p></p>	
		</article>
		</div>
	</div>
</div>