<!-- Seitennavigation -->
<%- partial('partials/sidebar') %>

<!-- Seiteninhalt -->
<div class="eight columns">
	<%- partial('partials/sliderButtons') %>
	<div id="articleSwipe">
		<div>
		<% for (var i=0; i<=3; i++) { %>
			<article class="fixie" style="display:block">
				<h6 class="feed_title"><img src="http://media.smashingmagazine.com/themes/smashingv4/images/appletouchicon.png" />Smashing Magazing | 15 Stunden</h6>
				<h2></h2>
				<p class="teaser"></p>
				<figure class="article_image">
					<img src="http://lorempixel.com/800/800" />
					<figcaption>Abbildung 1</figcaption>
				</figure>
				<p></p>	
			</article>
		<% } %>
		</div>
	</div>
</div>