<div class="twelve columns">
	<div class="row">
		<header>
			<h1>inForm</h1>
		</header>				
		<dl class="nice tabs">
				<dd><a href="#nice1" class="active">Smashing Magazin</a></dd>
			 <dd><a href="#nice2">t3n</a></dd>
			 <dd><a href="#nice3">kicker</a></dd>
		</dl>

		<ul class="nice tabs-content">
		  <li class="active" id="nice1Tab">
		  	<div class="row">
				<div class="twelve columns">
					<div class="twelve columns">
						<div class="row">
							<div id="feed_overview clearfix">	
								<figure class="feed clearfix">
									<img src="images/test.jpg">
									<span class="notification"></span>
									<figcaption>Bildunterschrift</figcaption>
								</figure>				
								<figure class="feed">
									<img src="images/test.jpg">
									<span class="notification" style="display: block"></span>
									<figcaption>Bildunterschrift</figcaption>
								</figure>				
								<figure class="feed">
									<img src="images/test.jpg">
									<span class="notification"></span>
									<figcaption>Bildunterschrift</figcaption>
								</figure>				
								<figure class="feed">
									<img src="images/test.jpg">
									<figcaption>Bildunterschrift</figcaption>
								</figure>				
								<figure class="feed">
									<img src="images/test.jpg">
									<figcaption>Bildunterschrift</figcaption>
								</figure>	
							</div>			
						</div>
					</div>
				</div>
			</div>
		  </li>

		  <li id="nice2Tab">This is nice tab 2's content. Now you see it!</li>
		  <li id="nice3Tab">This is nice tab 3's content. It's, you know...okay.</li>
		</ul>
	</div>
</div>