<div class="twelve columns">
	<div class="row">
		<header>
			<h1>inForm</h1>
			<h2>Feed hinzufügen</h2>
		</header>
		<form>
			<input type="text" id="feed_name" placeholder="Feed Name" />
			<select>
				<option value="cat_sport">Sport</option>
				<option value="cat_politics">Politik</option>
				<option value="cat_quark">Quark</option>
			</select>
			<input type="text" id="feed_url" placeholder="RSS URL" />
			<input type="submit" id="submit_add" value="Feed hinzufügen" />
		</form>
	</div>
</div>