<!-- Seiteninhalt -->
<div class="twelve columns">
	<ul>
		<li><a href="/feeds">All feeds</a></li>
		<li><a href="/feeds/1">All articles</a></li>
		<li><a href="/articles/1">Article</a></li>
		<li><a href="/add-feed">Add feed</a></li>
	</ul>
</div>