<ul>
	<li><a href="/login">Login</a></li>
	<li><a href="/login_register">Login und Registrieren</a></li>
	<li><a href="/feeds">Feedliste</a></li>
	<li><a href="/feeds/1">Feedansicht</a></li>
	<li><a href="/articles/1">Artikel</a></li>
	<li><a href="/add-feed">Feed hinzufügen</a></li>
</ul>