<!-- Seiteninhalt -->
<div class="twelve columns">

	<!-- Wenn nicht eingeloggt -->
	<form action="/login" method="post">
		<input type="email" id="username" placeholder="E-Mail" value="test@example.com" />
		<input type="password" id="password" placeholder="Passwort" value="test" />
		<input type="submit" class="button large radius" value="Login" />
	</form>

	<!-- Wenn eingeloggt
	<ul>
		<li><a href="/feeds">All feeds</a></li>
		<li><a href="/feeds/1">All articles</a></li>
		<li><a href="/articles/1">Article</a></li>
		<li><a href="/add-feed">Add feed</a></li>
	</ul>
	-->
</div>