<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en" manifest="offline.manifest"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en" manifest="offline.manifest"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en" manifest="offline.manifest"> <![endif]-->
<!--[if gt IE 8]><!--> <!-- <html class="no-js" lang="en" manifest="offline.manifest"> --> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title><%= title %></title>

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  
	<!-- Included CSS Files -->
	<link rel="stylesheet" href="/stylesheets/foundation.css">
	<link rel="stylesheet" href="/stylesheets/app.css">
	<link rel="stylesheet" type="text/css" media = "screen and (min-width: 481px)" href="/stylesheets/desktop.css">
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="/stylesheets/ie.css">
	<![endif]-->
</head>
<body>

	<div class="container">
		<div class="twelve columns">
			<div class="row">
				<header>
					<h1>inForm</h1>
				</header>
				
				<%- body -%>
			</div>
			<div class ="row">
				<footer>
					<%- partial('footer') %>
				</footer>
			</div>
		</div>
	</div>

	<script src="/javascripts/modernizr.foundation.js"></script>
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/foundation.js"></script>
	<script src="/javascripts/app.js"></script>
	<script src="/javascripts/swipe.js"></script>
	<script src="/javascripts/fixie.min.js"></script>
	<script src="/javascripts/tabs.js"></script>
	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!-- LiveReload -->
	<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>


</body>
</html>