<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />

	<title>Login</title>
  
	<!-- Included CSS Files -->
	<link rel="stylesheet/less" href="stylesheets/app.less">
	<link rel="stylesheet" href="stylesheets/foundation.css">

	<!--[if lt IE 9]>
		<link rel="stylesheet" href="stylesheets/ie.css">
	<![endif]-->
	
	<script src="javascripts/modernizr.foundation.js"></script>

	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- LiveReload -->
	<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

</head>
<body>
	<div class="container">
		<div class="twelve columns">
			<div class="row">
				<header>
					<h1>inForm</h1>
				</header>
				<dl class="nice contained tabs">
	  				<dd><a href="#login" class="active">Login</a></dd>
					 <dd><a href="#register">Registrieren</a></dd>
				</dl>

				<ul class="nice tabs-content">
				  <li class="active" id="loginTab">
				  	<div class="row">
						<div class="twelve columns">
							<form>
								<input type="email" id="user_mail" placeholder="E-Mail" />
								<input type="password" id="user_password" placeholder="Passwort" />
								<input class="button large radius" type="submit" id="submit_login" value="Login" />
							</form>	
						</div>
					</div>								
				  </li>
				  <li id="registerTab">
							<form>
								<input type="email" id="register_mail" placeholder="E-Mail" />
								<input type="password" id="register_password" placeholder="Passwort" />
								<input type="password" id="confirm_password" placeholder="Passwort wiederholen" />
								<input type="submit" id="submit_register" value="Registrieren" class="button large radius" />
							</form>	
				  </li>
				</ul>
			</div>
		</div>

	</div>

	<!-- Included JS Files -->
	<script src="javascripts/jquery.min.js"></script>
	<script src="javascripts/foundation.js"></script>
	<script src="javascripts/app.js"></script>
	<script type="text/javascript" src="javascripts/less.min.js"></script>
</body>
</html>