<li style="display:none">
	<form>
		<input type="email" id="register_mail" placeholder="E-Mail" />
		<input type="password" id="register_password" placeholder="Passwort" />
		<input type="password" id="confirm_password" placeholder="Passwort wiederholen" />
		<input type="submit" id="submit_register" value="Registrieren" class="button large radius" />
	</form>	
</li>