/* Foundation v2.2.1 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Variables
:: Mixins
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/

/* -----------------------------------------
   Variables
----------------------------------------- */
@import "/public/stylesheets/elements.less";

// Colors
@mainColor: #00A6FC;
@hoverColor: #EAF8FF;


// Metrics
@inputHeight: 2em;
@textInput-padding: 2%;
@textInput-width: 90% - 2*@textInput-padding;
@feedTileSize: 80px;

/* -----------------------------------------
   Mixins
----------------------------------------- */
.border-active(@width: 3px, @color: @mainColor) {
	border-right: @width solid @color;
	border-left: @width solid @color;
}


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
@font-face{ 
	font-family: 'WebSymbolsRegular';
	src: url('../fonts/websymbols-regular-webfont.eot');
	src: url('../fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/websymbols-regular-webfont.woff') format('woff'),
	     url('../fonts/websymbols-regular-webfont.ttf') format('truetype'),
	     url('../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
	}

body { 
	min-width: 320px;
}

header {
	text-align: center;
	margin-bottom: 0.5em;
	.drop-shadow(0px, 2px, 7px, 0.4);
}

header h1,
header h2 {
	color: white;
	margin-bottom: 0;
}

header h1 {
	.gradient(@mainColor, @mainColor, lighten(@mainColor, 5%));
}

header h2 {
	font-size: 1em;
	background-color: lighten(@mainColor, 30%);
}

table
 { border: none;border-spacing: 20px; border-collapse: separate;}
ul.contained.tabs-content>li { padding: 0px; border: solid 0 #ddd; border-width: 0 1px 1px 1px; }
.container {padding: 0px; }
p {font-size: 12px; font-size: 1.2rem; margin-bottom: 3px;}
table tbody tr td { padding: 0px; }

.green {
	color:green;
}

.red { 
	color:red;
}


/* -----------------------------------------
   Swipe Tabs
----------------------------------------- */
/* Tabs */

#tabSelector {
	// position: fixed;
}

.base-tabs {
  border-bottom:1px #DADDE0 solid;
  padding:5px 4px 0;
  cursor: pointer;
}
.base-tabs li {
  position:relative;
  top:1px;
  font-size: 13px;
  color:#878E92;
  padding:6px 12px 5px;
  margin: 0;
  font-weight:bold;
  display:inline-block;
  background:#F5F6F7;
  border:1px #DADDE0 solid;
  border-bottom:0;
  border-bottom:1px #DADDE0 solid;
}
.base-tabs li.on {
    background:#fff;
    padding: 0.5em 1em;
    color:#505659;
    border-bottom:0;
    border-top: 3px solid @mainColor;
}

/* -----------------------------------------
   Login
----------------------------------------- */

form input {
	background-color: whitesmoke;
	border: 2px solid @mainColor;
	color: @mainColor;
	height: @inputHeight;
	display: block;
	margin: 0 auto;
	margin-top: 1em;
	font-size: 1.5em;
	width: 86%;
	padding: 0 2%;
}
input:not(.button) {
	-webkit-tap-highlight-color: lighten(@mainColor, 40%);	
}

form input,
form .button {
	display: block;
	margin: 0 auto;
	margin-top: 1em;	
}

input:focus {
	border: 2px solid whitesmoke;
}

input:-moz-placeholder {
	color: #ccc;
	font-style: italic;
}
input:-ms-input-placeholder {
	color: #ccc;
	font-style: italic;
}
input::-webkit-input-placeholder {
	color: #ccc;
	font-style: italic;
}
.selection select {
	height: 2em;
	background-color: red;
}

.button {
	background-color: @mainColor;
	color: white;
	padding: 0.5em 1em;
}

.button.large {
	width: 50% !important;
	font-size: 1.5em;
}

.button.radius {
	.rounded(0.3em);
}

/* -----------------------------------------
   Artikelübersicht
----------------------------------------- */
.pre_image {
	background-image: url('../images/test.jpg');
	width:37%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100px;
	height: 100px;
	float: right;
	margin-left: 0.6em;
	border: 2px solid #fff;
	box-shadow: 0 0 5px 1px #ccc;
}

.artikel span {
	font-family: 'WebSymbolsRegular', Arial, sans-serif;
	padding-right:0.5em;
}

.artikel h4 {
	display:inline;
}

.artikel {
	min-height: 100px;
	padding: 0 !important;
	margin: 1em;
	margin-bottom: 2.5rem;
}


.artikel article {
	margin: 0;
}

.artikel article:active {
	// background-color: @hoverColor;
	.border-active();
}

.artikel a {
	display: block;
	height: 100%;
	color: #666;
}


.artikel h4 {
 	font-size: 1.5rem; 
 	font-style: italic;
 	color: #4d4d4d;
 	margin-bottom: 0.6rem;
}



.pre_text {
	font-size: 1.2rem;
	margin-bottom: 3px;
	line-height: 1.4;
	color: #333;

}


/* -----------------------------------------
   Artikel
----------------------------------------- */
#articleSwipe article p {
	padding: 0 1em;
}
#articleSwipe article h2 {
	padding: 0 0.6em;
}

article h6 {
	text-align: center;
	font-size: 1.2rem;
	margin-bottom: 2rem;
}

.feed_info img {
	height: 2rem;
	position: relative;
	top: 0.6rem;
	margin-right: 0.4rem;
}

article h2 {
	font-size: 2rem;
	line-height: 1.2;
}

article p {
	line-height: 1.6;
}

.teaser {
	font-weight: bold;
}

figure.article_image {
	width: 75%;
	margin: 1em auto;
}

figure img {
}

article figcaption {
	font-size: 1.2rem;
	font-style: italic;
}

/* -----------------------------------------
   Feed Übersicht
----------------------------------------- */

#feed_overview {
	margin: 0 auto;
	display: block;
}

.feed {
	float: left;
	// height: @feedTileSize;
	margin: 1rem;
}

.feed img {
	width: @feedTileSize;
	height: @feedTileSize;
}

.feed figcaption {
	width: @feedTileSize;
	text-overflow: ellipsis;
	overflow: hidden;
	position: relative;
	top: -1em;
}

figure span .notification

.notification {
	.rounded(40px);
	background-color: #f00;
	width: 1em;
	height: 1em;
	display: block;
	position: relative;
	top: -20px;
	right: -70px;
	display: none;

}

.feed span {
	font-family: 'WebSymbolsRegular', Arial, sans-serif;
	padding-right:0.5em;
	margin-right: -1em;
}


/* -----------------------------------------
   Menue-Leiste
----------------------------------------- */
.menu_bar {
	width:100%;
	text-align:center;

}

.menu_bar h6 {
	display: inline;
}

.menu_bar a {
	font-family: 'WebSymbolsRegular', Arial, sans-serif;
	font-size:3em;
	color:@mainColor;
	margin: 0px, 10px;
	padding-left:20px;
	padding-right:20px;
}

.menu_bar a:active {
	color:#eee;
}


/* -----------------------------------------
   Pfeile
----------------------------------------- */

.arrow-n,
.arrow-e,
.arrow-s,
.arrow-w {
  /*
   * In Internet Explorer, The"border-style: dashed" will never be
   * rendered unless "(width * 5) >= border-width" is true.
   * Since "width" is set to "0", the "dashed-border" remains
   * invisible to the user, which renders the border just like how
   * "border-color: transparent" renders.
   */
  border-style: dashed;
  border-color: transparent;
  border-width: 0.53em;
  display: -moz-inline-box;
  display: inline-block;
  /* Use font-size to control the size of the arrow. */
  font-size: 100px;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: middle;
  width: 0;
}

.arrow-n {
  border-bottom-width: 1em;
  border-bottom-style: solid;
  border-bottom-color: #666;
  bottom: 0.25em;
}

.arrow-e {
  border-left-width: 1em;
  border-left-style: solid;
  border-left-color: #666;
  left: 0.25em;
}
                    
.arrow-s {
  border-top-width: 1em;
  border-top-style: solid;
  border-top-color: #666;
  top: 0.25em;
}

.arrow-w {
  border-right-width: 1em;
  border-right-style: solid;
  border-right-color: #666;
  right: 0.25em;
}