/* Foundation v2.2.1 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Variables
:: Mixins
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/

/* -----------------------------------------
   Variables
----------------------------------------- */
// @import "elements.less";

// Colors
@mainColor: #00A6FC;
@mainColor2: #555;
@hoverColor: #EAF8FF;


// Metrics
@inputHeight: 2em;
@textInput-padding: 2%;
@textInput-width: 90% - 2*@textInput-padding;
@feedTileSize-min: 80px;
@feedTileSize-max: 150px;


/* -----------------------------------------
   Mixins
----------------------------------------- */
.border-active(@width: 3px, @color: @mainColor) {
	border-right: @width solid @color;
	border-left: @width solid @color;
}
.gradient(@color: #F5F5F5, @start: #EEE, @stop: #FFF) {
  background: @color;
  background: -webkit-gradient(linear,
                               left bottom,
                               left top,
                               color-stop(0, @start),
                               color-stop(1, @stop));
  background: -ms-linear-gradient(bottom,
                                  @start,
                                  @stop);
  background: -moz-linear-gradient(center bottom,
                                   @start 0%,
                                   @stop 100%);
}
.drop-shadow(@x-axis: 0, @y-axis: 1px, @blur: 2px, @alpha: 0.1) {
  -webkit-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
  -moz-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
  box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
}
.rounded(@radius: 2px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
}
/* -----------------------------------------
   Shared Styles
----------------------------------------- */
@font-face{ 
	font-family: 'WebSymbolsRegular';
	src: url('../fonts/websymbols-regular-webfont.eot');
	src: url('../fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/websymbols-regular-webfont.woff') format('woff'),
	     url('../fonts/websymbols-regular-webfont.ttf') format('truetype'),
	     url('../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
	}

body { 
	min-width: 320px;
}

.eight.columns {
	padding: 0;
}

table
 { border: none;border-spacing: 20px; border-collapse: separate;}
ul.contained.tabs-content>li { padding: 0px; border: solid 0 #ddd; border-width: 0 1px 1px 1px; }
.container {padding: 0px; }
p {font-size: 12px; font-size: 1.2rem; margin-bottom: 3px;}
table tbody tr td { padding: 0px; }

.green {
	color:green;
}

.red { 
	color:red;
}

li {
	list-style-type: none;
}

header {
	text-align: center;
	margin-bottom: 0.5em;
	.drop-shadow(0px, 2px, 7px, 0.4);
}


/* -----------------------------------------
   Header
----------------------------------------- */
header h1,
header h2 {
	font-weight: normal;
	color: white;
	margin: 0;
}

header {
	.gradient(@mainColor, @mainColor, lighten(@mainColor, 5%));
}


/* -----------------------------------------
   Swipe Tabs
----------------------------------------- */
/* Tabs */

#tabSelector {
	// position: fixed;
}
.base-tabs {
  border-bottom:1px #DADDE0 solid;
  padding:5px 4px 0;
  cursor: pointer;
}
.base-tabs li {
  position:relative;
  top:1px;
  font-size: 13px;
  color:#878E92;
  padding: 12px 12px 11px;
  margin: 0;
  font-weight:bold;
  display:inline-block;
  background:#F5F6F7;
  border:1px #DADDE0 solid;
  border-bottom:0;
  border-bottom:1px #DADDE0 solid;
}
.base-tabs li.on {
    background:#fff;
    padding: 12px;
    color:#505659;
    border-bottom:0;
    border-top: 3px solid @mainColor;
}
.tabs {

}

/* -----------------------------------------
   Login
----------------------------------------- */

form input {
	background-color: whitesmoke;
	border: 2px solid @mainColor;
	color: @mainColor;
	height: @inputHeight;
	display: block;
	margin: 0 auto;
	margin-top: 1em;
	font-size: 1.5em;
	width: 86%;
	padding: 0 2%;
}
input:not(.button) {
	-webkit-tap-highlight-color: lighten(@mainColor, 40%);	
}

form input,
form .button {
	display: block;
	margin: 0 auto;
	margin-top: 1em;	
}

input:focus {
	border: 2px solid whitesmoke;
}

input:-moz-placeholder {
	color: #ccc;
	font-style: italic;
}
input:-ms-input-placeholder {
	color: #ccc;
	font-style: italic;
}
input::-webkit-input-placeholder {
	color: #ccc;
	font-style: italic;
}
.selection select {
	height: 2em;
	background-color: red;
}

.button {
	background-color: @mainColor;
	color: white;
	padding: 0.5em 1em;
}

.button.large {
	width: 50% !important;
	font-size: 1.5em;
}

.button.radius {
	.rounded(0.3em);
}

/* -----------------------------------------
   Artikelübersicht
----------------------------------------- */
.pre_image {
	background-image: url('../images/test.jpg');
	width:37%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100px;
	height: 100px;
	float: right;
	margin-left: 0.6em;
	border: 2px solid #fff;
	box-shadow: 0 0 5px 1px #ccc;
}

.artikel span {
	font-family: 'WebSymbolsRegular', Arial, sans-serif;
	padding-right:0.5em;
}

.artikel h4 {
	display:inline;
}

.artikel {
	min-height: 100px;
	padding: 0 !important;
	margin: 1em;
	margin-bottom: 2.5rem;
}


.artikel article {
	margin: 0;
}

.artikel article:active {
	// background-color: @hoverColor;
	.border-active();
}

.artikel a {
	display: block;
	height: 100%;
	color: #666;
}


.artikel h4 {
 	font-size: 1.5rem; 
 	font-style: italic;
 	color: #4d4d4d;
 	margin-bottom: 0.6rem;
}



.pre_text {
	font-size: 1.2rem;
	margin-bottom: 3px;
	line-height: 1.4;
	color: #333;

}


/* -----------------------------------------
   Artikel
----------------------------------------- */
#articleSwipe article p {
	padding: 0 1em;
}
#articleSwipe article h2 {
	padding: 0 0.6em;
}

article h6 {
	text-align: center;
	font-size: 1.2rem;
	margin-bottom: 2rem;
}

.feed_info img {
	height: 2rem;
	position: relative;
	top: 0.6rem;
	margin-right: 0.4rem;
}

article h2 {
	font-size: 2rem;
	line-height: 1.2;
}

article p {
	line-height: 1.6;
}

.teaser {
	font-weight: bold;
}

figure.article_image {
	width: 75%;
	margin: 1em auto;
}

figure img {
}

article figcaption {
	font-size: 1.2rem;
	font-style: italic;
	margin-top: 1em;
}

/* -----------------------------------------
   Feed Übersicht
----------------------------------------- */

figure img {
	min-width: @feedTileSize-min;
}

.block-grid.three-up {
	margin: 0;	// prevent overflow to next tab
}

/* -----------------------------------------
   Menue-Leiste 
----------------------------------------- */
.feedNavigation {
	padding-left:0px;
}

// Desktopversion
.desktopVersion .nav-title {
	background-color: @mainColor;
}

.desktopVersion .nav-title a {
	color: white;
	padding-left: 5px;
}

.desktopVersion .nav-item a {
	padding-left: 10px;
}

.desktopVersion ul.side-nav li{
	margin: 0 0 3px 0;
}

// Touchversion
.touchVersion ul.side-nav li{
	background: #F2F2F2;
	border: none;
	border: 1px solid #E6E6E6;
	border-width: 1px 1px 0 0;
	color: #555;
	display: block;
	font-size: 14px;
	height: auto;
	line-height: 1;
	padding: 0px 20px;
	margin:0;
}

.touchVersion ul.side-nav a{
	line-height: 44px;
}

.touchVersion .nav-title a {
	color: white;
}

.no-touch ul {
	
}

.touchVersion ul.side-nav li.nav-title {
	background-color: @mainColor;
	border: none;
	color: white;
	height: auto;
	margin: 0;
	position: static;
	top: 0;
	color: #fff;
}

.touchVersion ul.side-nav li:hover a, ul.toolbar li a:focus {
	background-color: #444;
}

/* -----------------------------------------
  Toolbar
----------------------------------------- */

.toolbar {
	background-color: #555;
	height: 40px;
	margin-bottom:0;
}

ul.toolbar li {
float: right;
display: block;
padding-top:9px;
}

ul.toolbar a {
	color: #ccc;
	background-color: @mainColor2;
	font-size: 16px;
	line-height: 18px;
	padding: 11px;
	border-left: 1px solid;
}

ul.toolbar li:hover a, ul.toolbar li a:focus {
	background-color: #444;
}
	
span.symbol {
	font-family: 'WebSymbolsRegular';
	margin-right: 8px;
}

.toolTitle {
	display: none !important;
}
@media only screen and (max-width: 1279px) and (min-width: 768px) {
	.toolTitle {
		display: inline !important;
	}
}

/* -----------------------------------------
   Dialogs
----------------------------------------- */




