/* Foundation v2.2.1 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Variables
:: Mixins
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/

/* -----------------------------------------
   Variables
----------------------------------------- */

// Colors
@mainColor: #00A6FC;
@mainColor2: #555;
// @hoverColor: #EAF8FF;
@hoverColor: #2284A1;


// Metrics
@inputHeight: 3em;
@textInput-padding: 2%;
@textInput-width: 90% - 2*@textInput-padding;
@feedTileSize-min: 80px;
@feedTileSize-max: 150px;


/* -----------------------------------------
   Mixins
----------------------------------------- */
@import "elements.less";

.border-active(@width: 3px, @color: @mainColor) {
	border-right: @width solid @color;
	border-left: @width solid @color;
}

/* -----------------------------------------
   Shared Styles
----------------------------------------- */
@font-face { 
	font-family: 'WebSymbolsRegular';
	src: url('../fonts/websymbols-regular-webfont.eot');
	src: url('../fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/websymbols-regular-webfont.woff') format('woff'),
	     url('../fonts/websymbols-regular-webfont.ttf') format('truetype'),
	     url('../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
}

.iconFont {
	font-family: 'WebSymbolsRegular';	
}

body { 
	min-width: 320px;
}

.eight.columns {
	padding: 0;
}

table {
	border: none;
	border-spacing: 20px;
	border-collapse: separate;
}
ul.contained.tabs-content > li {
	padding: 0px;
	border: solid 0 #ddd;
	border-width: 0 1px 1px 1px;
}
.container {
	padding: 0px;
}
p {
	font-size: 12px;
	font-size: 1.2rem;
	margin-bottom: 3px;
}
table tbody tr td {
	padding: 0px;
}

.green {
	color:green;
}

.red { 
	color:red;
}

li {
	list-style-type: none;
}

header {
	text-align: center;
	margin-bottom: 0.5em;
	.drop-shadow(0px, 2px, 7px, 0.4);
}


/* -----------------------------------------
   Header
----------------------------------------- */
header h1 {
	font-weight: bold;
	padding: 0.12em;
	margin: 0;
}
header h1 a {
	color: white;
}

header {
	// .gradient(@mainColor, @mainColor, lighten(@mainColor, 5%));
	.gradient(@mainColor2, @mainColor2, lighten(@mainColor2, 5%));
}

/* -----------------------------------------
  Toolbar
----------------------------------------- */

.symbol {
	font-family: 'WebSymbolsRegular';
}

.toolbar {
	// background-color: @mainColor2;
	background-color: @mainColor;
	height: 40px;
	margin-bottom:0;
}

ul.toolbar li {
	float: right;
	display: inline-block;
	padding-top:9px;
}

ul.toolbar a {
	color: white;
	// background-color: @mainColor2;
	font-size: 16px;
	line-height: 22px;
	padding: 11px 22px;
	border-left: 1px solid;
}

ul.toolbar li:hover a,
ul.toolbar li a:focus {
	// background-color: #444;
	background-color: @hoverColor;
}

.toolTitle {
	display: none !important;
	margin-left: 0.5em;
}
@media only screen and (min-width: 768px) {
	.toolTitle {
		display: inline !important;
	}
	ul.toolbar a {
		// padding: 11px;
	}
}

/* -----------------------------------------
   Swipe Tabs
----------------------------------------- */
/* Tabs */

#tabSelector {
	// position: fixed;
}
#tabs {
	margin-top: 1em;
}
.base-tabs {
  border-bottom:1px #DADDE0 solid;
  padding:5px 4px 0;
  cursor: pointer;
}
.base-tabs li {
  position:relative;
  top:1px;
  font-size: 13px;
  color:#878E92;
  padding: 12px 12px 11px;
  margin: 0;
  font-weight:bold;
  display:inline-block;
  background:#F5F6F7;
  border:1px #DADDE0 solid;
  border-bottom:0;
  border-bottom:1px #DADDE0 solid;
}
.base-tabs li.on {
    background:#fff;
    padding: 12px;
    color:#505659;
    border-bottom:0;
    border-top: 3px solid @mainColor;
}
#tabs ul li ul {
	margin-left: -5px;
}

/* -----------------------------------------
   Feature (Swipe Gallery)
----------------------------------------- */
.slider {
	.iconFont;
	.rounded(9999px);
	background-color: red;
}
.prev {content: '<';}
.next {content: '>';}

.featured {
	border: 1px solid red;
}

/* -----------------------------------------
   Login
----------------------------------------- */

form input {
	background-color: whitesmoke;
	border: 2px solid @mainColor;
	color: @mainColor;
	display: block;
	margin: 0 auto;
	margin-top: 1em;
	font-size: 1.5em;
	width: 86%;
	padding: 0 2%;
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
	height: @inputHeight;
}
input:not(.button) {
	-webkit-tap-highlight-color: lighten(@mainColor, 40%);	
}

form input,
form .button {
	display: block;
	margin: 0 auto;
	margin-top: 1em;	
	padding: 10px !important;
}

input:focus {
	border: 2px solid whitesmoke;
}

input:-moz-placeholder {
	color: #ccc;
	font-style: italic;
}
input:-ms-input-placeholder {
	color: #ccc;
	font-style: italic;
}
input::-webkit-input-placeholder {
	color: #ccc;
	font-style: italic;
}
.selection select {
	height: 2em;
	background-color: red;
}

.button {
	background-color: @mainColor;
	color: white;
	padding: 0.5em 1em;
}

.button.large {
	font-size: 1.5em;
}

.button.radius {
	.rounded(0.3em);
}
.button:hover {
	background-color: @hoverColor;
}

/* -----------------------------------------
   Artikelübersicht
----------------------------------------- */
.pre_image {
	background-image: url('../images/test.jpg');
	width:37%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100px;
	height: 100px;
	float: right;
	margin-left: 0.6em;
	border: 2px solid #fff;
	box-shadow: 0 0 5px 1px #ccc;
}

.artikel span {
	.iconFont;
	padding-right:0.5em;
}

.artikel h4 {
	display:inline;
}

.artikel {
	min-height: 100px;
	padding: 0 !important;
	margin: 1em;
	margin-bottom: 2.5rem;
}


.artikel article {
	margin: 0;
}

.artikel article:active {
	// background-color: @hoverColor;
	.border-active();
}

.artikel a {
	display: block;
	height: 100%;
	color: #666;
}


.artikel h4 {
 	font-size: 2rem; 
 	font-style: italic;
 	color: #4d4d4d;
 	margin-bottom: 0.6rem;
}

.artikel a:focus, .artikel a:hover {
	background-color: #fff;
}


.artikel img {
	float: right;
	height: 100px;
	padding-left: 20px;
	}


.artikel li:hover {
	background-color: green;
}

.pre_text {
	font-size: 1.2rem;
	margin-bottom: 3px;
	line-height: 1.4;
	color: #333;

}

/* -----------------------------------------
   Artikel
----------------------------------------- */
#articleSwipe article p {
	padding: 0 1em;
}
#articleSwipe article h2 {
	padding: 0 0.6em;
}

article h6 {
	text-align: center;
	font-size: 1.2rem;
	margin-bottom: 2rem;
}

.feed_title img {
	height: 2rem;
	position: relative;
	top: 0.6rem;
	margin-right: 0.4rem;
}

article h2 {
	font-size: 2rem;
	line-height: 1.2;
}

article p {
	line-height: 1.6;
}

.teaser {
	font-weight: bold;
}

figure.article_image {
	width: 75%;
	margin: 1em auto;
}

figure img {
}
figcaption {	
	font-size: 1.2rem;
	margin-top: -1.8em;
}
article figcaption {
	font-style: italic;
	margin-top: 1em;
}

/* -----------------------------------------
   Feed Übersicht
----------------------------------------- */
figure {
	margin: 0;
}
figure img {
	min-width: @feedTileSize-min;
}

.fallback {
	max-height: 128px;
	max-width: 128px;
	background-color: #007180;
	text-align: center;
	padding: 0px;
	font-size: 6em;
	color: white;
	font-family: times;
	font-style: italic;
}

.block-grid.three-up {
	margin: 0;	// prevent overflow to next tab
}

.notification {
	display: inline-block;
	background-color: #D50000;
	color: white;
	padding: 0.1em 0.5em;
	// width: 1.5em;
	// height: 1.5em;
	border: 1px solid white;
	position: relative;
	top: -28px;
	font-size: 0.8em;
}


/* -----------------------------------------
   Menue-Leiste 
----------------------------------------- */
.feedNavigation {
	padding-left: 0px;
}

// Desktopversion
.nav-title {
	background-color: @mainColor;
}

.nav-title a {
	color: white;
	padding-left: 5px;
}

.nav-item a {
	padding-left: 10px;
}

ul.side-nav li{
	margin: 0 0 3px 0;
}

// Touchversion
.touch ul.side-nav li{
	background: #F2F2F2;
	border: none;
	border: 1px solid #E6E6E6;
	border-width: 1px 1px 0 0;
	color: #555;
	display: block;
	font-size: 14px;
	height: auto;
	line-height: 1;
	margin:0;
}

.touch ul.side-nav a{
	line-height: 44px;
}

.touch .nav-title a {
	color: white;
}

.touch ul.side-nav li.nav-title {
	background-color: @mainColor;
	border: none;
	color: white;
	height: auto;
	margin: 0;
	position: static;
	top: 0;
	color: #fff;
}

.touch ul.side-nav li:hover a,
ul.toolbar li a:focus {
	background-color: #444;
}
.ul.side-nav {
	padding: 0;
	margin-top: 1em;
}

/* -----------------------------------------
  Toolbar
----------------------------------------- */

.toolbar {
	// background-color: @mainColor2;
	background-color: @mainColor;
	height: 40px;
	margin-bottom:0;
}

ul.toolbar li {
	float: right;
	display: inline-block;
	padding-top:9px;
}

ul.toolbar a {
	color: white;
	// background-color: @mainColor2;
	font-size: 16px;
	line-height: 22px;
	padding: 11px 30px;
	border-right: 1px solid;	
}
.toolbar a:last-child {
	// border: none;
}	

ul.toolbar li:hover a, ul.toolbar li a:focus {
	// background-color: #444;
	background-color: @hoverColor;
}
	
span.symbol {
	.iconFont;
}

.toolTitle {
	display: none !important;
	margin-left: 0.5em;
}
@media only screen and (min-width: 768px) {
	.toolTitle {
		display: inline !important;
	}
	ul.toolbar a {
		// padding: 11px;
	}
}

/* -----------------------------------------
   Dialogs
----------------------------------------- */

.touch .modal a.symbol {
	.iconFont;
	font-size: 34px;
	line-height: 50px;
	color: @mainColor;
}

.touch .modal a:focus,
.touch .modal a:hover {
	color:@mainColor2;
}

.reveal-modal .close-reveal-modal {
	top:8px;
}

.touch .reveal-modal .close-reveal-modal {
	top:0px;
}

// add feed
.modal h4.add-feed  {
	color: @mainColor;

}

.modal .button {
	width: auto !important;
}

.modal select {
	height: 29px;
	margin-bottom: 10px;
	overflow: hidden;
	background: url(/images/arrow.svg) no-repeat right #ddd;
	border: 1px solid #CCC;

}



