/* Foundation v2.2.1 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body {
	margin:10px;
}





/* -----------------------------------------
   Page Artikelübersicht
----------------------------------------- */
.bildbox {
	width:100%;
	height:inherit;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

}



/* -----------------------------------------
   Page Name 2
----------------------------------------- */


