/* Foundation v2.2.1 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body { margin-top:10px; }
h4 { font-size: 1.4rem; margin-bottom: 3px; }
table { border: none;border-spacing: 20px; border-collapse: separate;}
ul.contained.tabs-content>li { padding: 0px; border: solid 0 #ddd; border-width: 0 1px 1px 1px; }
.container {padding: 0px; }
p {font-size: 12px; font-size: 1.2rem; margin-bottom: 3px; }
table tbody tr td { padding: 0px; }


/* -----------------------------------------
   Artikelübersicht
----------------------------------------- */
.pre_image {
	background-image: url('../images/test.jpg');
	width:37%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.pre_title {
	font-size: 15px;
	font-size: 1.5rem; 
	margin-bottom: 3px; 
	color: #DDD; 
	color: #181818; 
	font-weight: bold; 
}

.pre_text {
	font-size: 1.2rem;
	margin-bottom: 3px;
	line-height: 1.4;
	color: #333;

}






/* -----------------------------------------
   Page Name 2
----------------------------------------- */


