/* Foundation v2.2.1 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body { margin-top:10px; }
h4 { font-size: 17px; font-size: 1.7rem; margin-bottom: 3px; }
table { border: none;border-spacing: 20px; border-collapse: separate;}
ul.contained.tabs-content>li { padding: 0px; border: solid 0 #ddd; border-width: 0 1px 1px 1px; }
.container {padding: 0px; }
p {font-size: 12px; font-size: 1.2rem; margin-bottom: 3px; }
table tbody tr td { padding: 0px; }


/* -----------------------------------------
   Page Artikelübersicht
----------------------------------------- */
.image {
	background-image: url('../images/test.jpg');
	width:20%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;


}



/* -----------------------------------------
   Page Name 2
----------------------------------------- */


